In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
df=pd.read_csv('datasets/Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le=LabelEncoder()

In [5]:
df['Species']=le.fit_transform(df['Species'])

In [6]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

#Create linear regression model

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
model=LinearRegression()

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x=df.drop(['Id','Species'],axis='columns')
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [11]:
y=df['Species']
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [13]:
model.fit(x,y)

LinearRegression()

In [14]:
model.predict(x_test)

array([ 1.58832992,  1.20435076, -0.03268546, -0.09075452,  1.74143264,
       -0.2269978 ,  1.25705298,  1.17877271,  0.0333738 ,  1.44938775,
        0.97673409,  1.19062819,  0.10011902,  0.0335223 ,  0.93212811,
       -0.03339485,  0.95420588,  1.05331264,  1.75264018,  1.74623857,
        1.98996282,  1.16625243,  1.1876208 , -0.04305625,  0.13954911,
        1.24113634, -0.08130307,  1.48615432,  0.87368909, -0.15752317])

In [15]:
x_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
138            6.0           3.0            4.8           1.8
94             5.6           2.7            4.2           1.3
18             5.7           3.8            1.7           0.3
48             5.3           3.7            1.5           0.2
103            6.3           2.9            5.6           1.8
14             5.8           4.0            1.2           0.2
55             5.7           2.8            4.5           1.3
89             5.5           2.5            4.0           1.3
45             4.8           3.0            1.4           0.3
133            6.3           2.8            5.1           1.5
67             5.8           2.7            4.1           1.0
87             6.3           2.3            4.4           1.3
26             5.0           3.4            1.6           0.4
31             5.4           3.4            1.5           0.4
81             5.5           2.4            3.7           1.0
40             5.0           3.5            1.3           0.3
62             6.0           2.2            4.0           1.0
82             5.8           2.7            3.9           1.2
142            5.8           2.7            5.1           1.9
147            6.5           3.0            5.2           2.0
120            6.9           3.2            5.7           2.3
99             5.7           2.8            4.1           1.3
53             5.5           2.3            4.0           1.3
20             5.4           3.4            1.7           0.2
44             5.1           3.8            1.9           0.4
59             5.2           2.7            3.9           1.4
37             4.9           3.1            1.5           0.1
119            6.0           2.2            5.0           1.5
98             5.1           2.5            3.0           1.1
33             5.5           4.2            1.4           0.2

In [16]:
y_test

138    2
94     1
18     0
48     0
103    2
14     0
55     1
89     1
45     0
133    2
67     1
87     1
26     0
31     0
81     1
40     0
62     1
82     1
142    2
147    2
120    2
99     1
53     1
20     0
44     0
59     1
37     0
119    2
98     1
33     0
Name: Species, dtype: int32

In [18]:
model.score(x,y)

0.9304223675331595

In [19]:
model.predict([[5.3,2.4,3.0,4.0]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([2.62485779])

In [20]:
model.predict([[5.0,3.6,1.4,0.2]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-0.07610817])

In [21]:
model.predict([[6.2,3.4,5.4,2.3]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1.98983334])